<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.login.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.shiro.entity.login.Permission">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="permissionName" jdbcType="VARCHAR" property="permissionname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permissionName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiro.entity.login.Permission">
    insert into permission (id, permissionName)
    values (#{id,jdbcType=VARCHAR}, #{permissionname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiro.entity.login.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionname != null">
        permissionName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="permissionname != null">
        #{permissionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiro.entity.login.Permission">
    update permission
    <set>
      <if test="permissionname != null">
        permissionName = #{permissionname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiro.entity.login.Permission">
    update permission
    set permissionName = #{permissionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>