<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.login.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.shiro.entity.login.Permission">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="permissionName" jdbcType="VARCHAR" property="permissionName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permissionName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiro.entity.login.Permission">
    insert into permission (id, permissionName)
    values (#{id,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiro.entity.login.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionName != null">
        permissionName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiro.entity.login.Permission">
    update permission
    <set>
      <if test="permissionName != null">
        permissionName = #{permissionName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiro.entity.login.Permission">
    update permission
    set permissionName = #{permissionName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="list" resultMap="BaseResultMap">
      SELECT
          p.*
      FROM
          role_permission rp
      LEFT JOIN permission p ON rp.permissionId = p.id
      WHERE rp.roleId IN
      (
      <foreach collection="listRole" index="index" item="item" separator=",">
        #{item.id}
      </foreach>
      )
  </select>
</mapper>