<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.login.UserMapper">
  <resultMap id="BaseResultMap" type="com.shiro.entity.login.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userPwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
  <resultMap id="userRoleMap" type="com.shiro.entity.login.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userPwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <collection property="listRole" column="id" select="selectRole" ofType="com.shiro.entity.login.Role">
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, userPwd, salt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiro.entity.login.User">
    insert into user (id, userName, userPwd, 
      salt)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiro.entity.login.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="userPwd != null">
        userPwd,
      </if>
      <if test="salt != null">
        salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiro.entity.login.User">
    update user
    <set>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        userPwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiro.entity.login.User">
    update user
    set userName = #{userName,jdbcType=VARCHAR},
      userPwd = #{userPwd,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="com.shiro.entity.login.User" resultMap="userRoleMap">
    SELECT
    u.*
    FROM
    user u
    <where>
      <if test="id != null">
       AND u.id = #{id}
      </if>
      <if test="userName != null">
        AND u.userName=#{userName}
      </if>
    </where>
  </select>
  <select id="selectRole" parameterType="String" resultType="com.shiro.entity.login.Role">
     SELECT
          r.*
      FROM
          user_role ur
      LEFT JOIN role r ON ur.roleId = r.id
      WHERE
          ur.userId = #{id}
  </select>
</mapper>